REALTYAPI_KEY=
REACT_APP_GOOGLE_MAP_API_KEY=
REALTYAPI_PROVIDER_DELAY_MS=400

FREE_LOOKUP_LIMIT_PER_MONTH=10
PGHOST=
PGPORT=25060
PGDATABASE=defaultdb
PGUSER=
PGPASSWORD=
DATABASE_CA_CERT=
ADMIN_DASHBOARD_TOKEN=
